[package]
name = "podium"
version = "0.1.0"
authors = ["Teodor Voinea <voinea.teodor@gmail.com>"]
edition = "2018"

[dependencies]
tantivy = "0.9.1"
walkdir = "2"
app_dirs = "^1.2.1"
notify = "4.0.0"
notify-rust = "3"
config = "0.9.2"
sysbar = "0.1.0"
simple_logger = "1.0.1"
log = "0.4.6"
blake2b_simd = "0.4.1"
web-view = "0.4.1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_derive = "1.0"
lazy_static = "1.3.0"
kamadak-exif = "0.3"
reverse_geocoder = { git = "https://github.com/llambda/rrgeo"}
pdf-extract = { git = "https://github.com/jrmuizel/pdf-extract"}
regex = "1"
tract-tensorflow = "0.3.3"
tract-core = "0.3.3"
image = "0.21.2"
docx = "0.1.2"

[target."cfg(windows)".dependencies]
systray = "0.3.0"

[[bin]]
name = "podium"

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = 'unwind'
overflow-checks = false

[profile.bench]
opt-level = 3
debug = false
rpath = false
lto = false
debug-assertions = false
codegen-units = 16
panic = 'unwind'
incremental = false
overflow-checks = false