/*2D2D2E dark grey
505051 light grey*/
body{
    background-color: #2d2d2e;
    width: 100%;
    margin: 0px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: white;
}
main {
    width: 100%;
    margin: 0px;
}
#heading {
    padding-left: 32px;
}
#search_bar {
    width: 100%;
    font-size: 32px;
    padding: 32px;
    background-color: #2d2d2e;
    color: white;
    border: none;
}
#results_heading {
    padding: 16px 0px 16px 0px;
    background-color: #505051;
    margin: 0px;
}
.results_list {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    color: white;
}
.list_element {
    font-weight: bold;
    padding: 8px 0px 8px 32px;
    font-size: 16px;
}
.list_element:hover {
   background-color: #505051;
   cursor: pointer;
}